.basic-details-accordion{
    display: flex ;
    justify-content: space-around;
    gap: 50px;
    flex-direction: row;
    width: 100% ;
}
.member-form-btn{
    display: flex;
    justify-content: flex-end;
}